.horizontal-navbar {
  padding: 0;
  margin-top: 35px;
}

.horizontal-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  display: flex;
}

.horizontal-navbar li {
  position: relative;
  margin-left: 5px;
}

.horizontal-navbar a,
.horizontal-navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.1);
}

.horizontal-navbar a i,
.horizontal-navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  display: none;
  margin-left: 5px;
}

.horizontal-navbar a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background: var(--theme-color);
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.horizontal-navbar a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.horizontal-navbar a.active {
  transform: translateY(-5px);
  background: var(--theme-color);
}

.horizontal-navbar a:hover:before,
.horizontal-navbar li:hover>a:before,
.horizontal-navbar .active:before {
  visibility: visible;
  width: 100%;
}

.horizontal-navbar a:hover,
.horizontal-navbar .active,
.horizontal-navbar .active:focus,
.horizontal-navbar li:hover>a {
  color: white;
}