/*--------------------------------------------------------------
# 1. About Section
--------------------------------------------------------------*/

.about .about-bg {
  height: 100%;
  min-height: 450px;
  position: relative;
  background-size: cover;
  background-position: center;
}

.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: var(--theme-color);
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: var(--theme-color);
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .social-aria {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  z-index: 1;
  padding: 15px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

.about .social-aria a {
  color: white;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  margin: 0 5px;
  background: rgba(0, 0, 0, 0.5);
  transition: background 0.3s ease, transform 0.3s ease;
}

.about .social-aria a:hover {
  transform: scale(1.1);
  border-radius: 50%;
}

.about .social-aria a.twitter:hover {
  background: #1da1f2;
}

.about .social-aria a.linkedin:hover {
  background: #0077b5;
}

.about .social-aria a.google-plus:hover {
  background: #db4437;
}

.about .social-aria a.youtube:hover {
  background: #ff0000;
}

.about .social-aria a.github:hover {
  background: #333;
}

.about .social-aria a.whatsapp:hover {
  background: #25d366;
}

.about .social-aria a.slack:hover {
  background: #4A154B;
}

.about .social-aria a.telegram:hover {
  background: #0088CC;
}