/*--------------------------------------------------------------
# 1. About Section
--------------------------------------------------------------*/

.about .about-bg {
  height: 100%;
  min-height: 450px;
  position: relative;
  background-size: cover;
  background-position: center;
  border: 6px solid rgba(255, 255, 255, 0.2);
}

.about .about-content h3 {
  font-weight: 700;
  font-size: 26px;
  color: var(--theme-color);
}

.about .details-list {
  list-style: none;
  padding: 0;
}

.about .details-list li {
  margin-bottom: 20px;
}

.about .details-list li strong {
  color: var(--theme-color);
}

.about .details-list i {
  font-size: 16px;
  margin-right: 5px;
  color: var(--theme-color);
}

.about .highlight {
  color: var(--theme-color);
  font-weight: 600;
}

.about .btn {
  background-color: var(--theme-color);
  border-color: var(--theme-color);
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  transition: background-color 0.3s, transform 0.3s;
}

.about .btn:hover {
  background-color: var(--theme-shadow-color);
  transform: scale(1.05);
}

.about .social-aria {
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 10px;
  text-align: center;
  width: 100%;
  padding: 15px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
}

.about .social-aria a {
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transition: background 0.3s ease, transform 0.3s ease;
}

.about .social-aria a:hover {
  transform: scale(1.1);
}

.about .social-aria a.twitter:hover {
  background: #1da1f2;
}

.about .social-aria a.linkedin:hover {
  background: #0077b5;
}

.about .social-aria a.google-plus:hover {
  background: #db4437;
}

.about .social-aria a.youtube:hover {
  background: #ff0000;
}

.about .social-aria a.github:hover {
  background: #333;
}

.about .social-aria a.whatsapp:hover {
  background: #25d366;
}

.about .social-aria a.slack:hover {
  background: #4A154B;
}

.about .social-aria a.telegram:hover {
  background: #0088CC;
}
