/*--------------------------------------------------------------
# 4. Clients Section
--------------------------------------------------------------*/

.clients .swiper-container {
    position: relative;
    width: 100%;
    padding: 0 0 40px 0;
    overflow: hidden;
}

.clients .swiper-wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.clients .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 450px;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
}

.clients .icon-box {
    text-align: center;
    background: rgba(204, 204, 204, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 80px 20px;
    transition: box-shadow 0.6s ease-in-out, transform 0.6s ease-in-out;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.clients .icon-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.clients .icon-box:hover {
    background: white;
    border-color: white;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}

.clients .icon-box:hover::before {
    opacity: 1;
}

.clients .icon-box img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.6s ease, filter 0.6s ease;
    width: 100%;
    height: 200px;
    object-fit: contain;
    overflow: hidden;
}

.clients .icon-box:hover img {
    transform: scale(1.1);
    filter: brightness(1.1);
}

.clients .swiper-pagination {
    transition: opacity 0.6s ease;
}

.clients .swiper-pagination .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background: rgba(255, 255, 255, 0.8);
    transform: scale(0.8);
    transition: background 0.6s ease, transform 0.6s ease, box-shadow 0.6s ease;
}

.clients .swiper-pagination .swiper-pagination-bullet:hover {
    opacity: 1;
    transform: scale(1.2);
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2),
        4px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.6s, box-shadow 0.6s;
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
    background: var(--theme-color);
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2),
        4px 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.4);
    transition: transform 0.6s, box-shadow 0.6s;
}

.clients .swiper-pagination .swiper-pagination-bullet-active:hover {
    background: var(--theme-shadow-color);
}

.clients .swiper-button-next,
.clients .swiper-button-prev {
    color: rgba(255, 255, 255, 0.2);
    transition: color 0.6s ease;
    width: 44px;
    height: 44px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.clients .swiper-button-next:hover,
.clients .swiper-button-prev:hover {
    color: var(--theme-color);
    background: rgba(0, 0, 0, 0.5);
}

.clients .swiper-button-next {
    right: 10px;
}

.clients .swiper-button-prev {
    left: 10px;
}