/*--------------------------------------------------------------
# 4. Clients Section
--------------------------------------------------------------*/

.clients .icon-box {
    text-align: center;
    background: rgba(204, 204, 204, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 80px 20px;
    transition: box-shadow 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 10px;
}

.clients .icon-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.clients .icon-box:hover {
    background: white;
    border-color: white;
}

.clients .icon-box:hover::before {
    opacity: 1;
}

.clients .icon-box img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 200px;
    object-fit: contain !important;
}

.clients .icon-box:hover img {
    transform: scale(1.1);
}