/*--------------------------------------------------------------
# 7. Contact Section
--------------------------------------------------------------*/

.contact .contact-top-row {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.contact .info-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 20px;
}

.contact .info-box {
  color: #444444;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  flex: 1;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  transition: background 0.3s, box-shadow 0.3s, transform 0.3s;
}

.contact .info-box:hover {
  background: var(--theme-color);
  color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.contact .info-box i.bi {
  font-size: 20px;
  color: var(--theme-color);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  display: inline-flex;
  text-decoration: none;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.contact .info-box .social-links i.bi {
  font-size: 16px;
}

.contact .info-box:hover i.bi {
  background: rgba(0, 0, 0, 0.2);
  color: white;
}

.contact .info-box h3 {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
  margin: 5px 0;
}

.contact .info-box p {
  padding: 0;
  color: var(--theme-color);
  line-height: 24px;
  font-size: 14px;
  margin: 0;
}

.contact .info-box:hover p {
  color: white;
}

.contact .info-box .social-links {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.contact .info-box .social-links a {
  font-size: 16px;
  color: white;
  line-height: 1;
  margin-right: 8px;
  transition: color 0.3s;
}

.contact .info-box .social-links a:hover {
  color: var(--theme-color);
}

.contact .php-email-form {
  flex: 1;
  padding: 30px;
  background: rgba(255, 255, 255, 0.08);
  height: 380px;
}

.contact .php-email-form .error-message {
  display: none;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  background: var(--theme-color);
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: rgba(255, 255, 255, 0.08);
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid var(--theme-color);
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.08);
  border: 0;
  transition: 0.3s;
  color: white;
  margin-bottom: 15px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  background-color: rgba(255, 255, 255, 0.11);
}

.contact .php-email-form input::-moz-placeholder,
.contact .php-email-form textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .php-email-form input::placeholder,
.contact .php-email-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: var(--theme-color);
  border: 0;
  padding: 10px 30px;
  color: white;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: var(--theme-shadow-color);
}

.map-container {
  flex: 1;
  overflow: hidden;
  height: 380px;
  position: relative;
}

@media (max-width: 768px) {

  .map-container {
    height: 300px;
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}