/*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*/

#footer .credits {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 15px;
  text-align: right;
  font-size: 13px;
  color: white;
  z-index: 999999;
}

@media (max-width: 992px) {
  #footer .credits {
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
  }
}

#footer .credits a {
  color: var(--theme-color);
  transition: 0.3s;
}

#footer .credits a:hover {
  color: var(--theme-shadow-color);
}