/*--------------------------------------------------------------
# Header Section
--------------------------------------------------------------*/

#hero .color-mode {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;
}

#hero .theme-buttons {
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

#hero .theme-button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    position: relative;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2),
        4px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

#hero .theme-button[data-theme="light"] {
    background-color: var(--background-light);
}

#hero .theme-button[data-theme="dark"] {
    background-color: var(--background-dark);
}

#hero .theme-button[data-theme="blue"] {
    background-color: var(--theme-blue);
}

#hero .theme-button[data-theme="pink"] {
    background-color: var(--theme-pink);
}

#hero .theme-button[data-theme="green"] {
    background-color: var(--theme-green);
}

#hero .theme-button[data-theme="red"] {
    background-color: var(--background-red);
}

#hero .theme-button[data-theme="yellow"] {
    background-color: var(--theme-yellow);
}

#hero .theme-button[data-theme="purple"] {
    background-color: var(--background-purple);
}

#hero .theme-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
}

#hero .theme-button:hover {
    transform: scale(1.2);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2),
        6px 6px 12px rgba(0, 0, 0, 0.3);
}

#hero .theme-button::after {
    content: attr(title);
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    font-size: 9.6px;
    font-weight: 500;
    z-index: 2;
}

#hero .theme-button:hover::after {
    opacity: 1;
    visibility: visible;
}

#hero h4.welcome-text {
    color: var(--theme-color);
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: 300;
    opacity: 0.7;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4),
        0 0 5px rgba(0, 0, 0, 0.3);
    padding: 0 0 0 20px;
}

#hero h2.greeting {
    font-size: 1.8em;
    font-weight: 400;
    margin: 10px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4),
        0 0 5px rgba(0, 0, 0, 0.3);
    padding: 0 0 0 20px;
}

#hero h1.name {
    font-size: 2em;
    font-weight: 700;
    margin: 10px 0;
    line-height: 1.2;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4),
        0 0 5px rgba(0, 0, 0, 0.3);
    padding: 0 0 0 20px;
}

#hero h1.name a {
    color: var(--theme-color);
    text-decoration: none;
    transition: color 0.3s;
}

#hero h1.name a:hover {
    color: var(--theme-color);
}

#hero h2.role {
    font-size: 1.5em;
    font-weight: 500;
    margin: 10px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4),
        0 0 5px rgba(0, 0, 0, 0.3);
    padding: 0 0 0 20px;
}

#hero .typed {
    color: var(--theme-color);
    font-weight: 500;
}

#hero .education-intro p {
    font-size: 1.1em;
    font-weight: 300;
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.8);
    line-height: 2;
    z-index: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4),
        0 0 5px rgba(0, 0, 0, 0.3);
    padding: 0 0 0 20px;
}

#header {
    transition: ease-in-out 0.3s;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 997;
    overflow-y: auto;
}

#header * {
    transition: ease-in-out 0.3s;
}

#header .container {
    position: relative;
    z-index: 2;
    padding: 30px;
}

#header h1 {
    font-size: 48px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
}

#header h1 a,
#header h1 a:hover {
    color: var(--theme-color);
    line-height: 1;
    display: inline-block;
}

#header h2 {
    font-size: 24px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.8);
}

#header h2 span {
    color: white;
    border-bottom: 2px dashed var(--theme-color);
    padding-bottom: 6px;
}

#header img {
    padding: 0;
    margin: 0;
}

#hero .social-links {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 2;
}

#hero .social-links a {
    text-decoration: none;
    transition: color 0.3s;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}


@media (max-width: 992px) {
    #header h1 {
        font-size: 36px;
    }

    #header h2 {
        font-size: 20px;
        line-height: 30px;
    }

    #header .social-links {
        margin-top: 15px;
    }

    #header .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#header.header-top {
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
}

#header.header-top h2,
#header.header-top .social-links,
#header.header-top .color-mode,
#header.header-top .education-intro,
#header.header-top .welcome-text {
    display: none;
}

#header.header-top h1 {
    margin-right: auto;
    font-size: 36px;
}

#header.header-top img {
    max-height: 60px;
    margin-right: 20px !important;
}

#header.header-top .container {
    display: flex;
    align-items: center;
}

#header.header-top .navbar {
    margin: 0;
}

@media (max-width: 768px) {
    #header.header-top {
        height: 60px;
    }

    #header.header-top h1 {
        font-size: 26px;
    }
}

.navbar {
    width: 60px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    z-index: 1000;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
    margin-bottom: 10px;
}

.navbar a,
.navbar a:focus {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    text-decoration: none;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s, color 0.3s;
    border: 6px solid rgba(0, 0, 0, 0.12);
}

.navbar a i,
.navbar a:focus i {
    font-size: 16px;
    line-height: 0;
    display: block;
    position: relative;
    transform: translateZ(25px);
}

.navbar a span {
    display: none;
    font-size: 9.6px;
    font-weight: bold;
    position: absolute;
    white-space: nowrap;
    background: var(--theme-color);
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover {
    background: rgba(255, 255, 255, 0.2);
}

.navbar a.active {
    transform: translateY(-5px);
    background: var(--theme-color);
}

.navbar a:hover span {
    display: block;
    opacity: 1;
}


.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 25px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: white;
}

.mobile-nav-toggle {
    color: white;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 15px;
    top: 15px;
}

@media (max-width: 991px) {
    .navbar-mobile {
        width: 100%;
        height: auto;
        padding-top: 10px;
    }

    .navbar-mobile ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-mobile li {
        margin-bottom: 15px;
    }

    .navbar-mobile a {
        padding: 12px 10px;
    }

    .navbar-mobile a span {
        display: none;
    }

    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    z-index: 999;
    margin-top: 0;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 45px;
    left: 15px;
    padding: 10px 0;
    overflow-y: auto;
    transition: 0.3s;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.navbar-mobile li {
    padding: 12px 20px;
}

.navbar-mobile li+li {
    margin: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    font-size: 16px;
    position: relative;
}

#hero .social-links {
    display: flex;
    gap: 15px;
    padding: 20px 0;
    border-radius: 10px;
    margin: 20px 0;
}

#hero .social-links a {
    font-size: 16px;
    line-height: 1;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 50%;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
}

#hero .social-links a:hover {
    transform: translateY(-5px);
}

#hero .social-links a.twitter {
    background: #1da1f2;
}

#hero .social-links a.linkedin {
    background: #0077b5;
}

#hero .social-links a.google-plus {
    background: #db4437;
}

#hero .social-links a.youtube {
    background: #ff0000;
}

#hero .social-links a.github {
    background: #333;
}

#hero .social-links a.whatsapp {
    background: #25d366;
}

#hero .resume-button {
    display: flex;
    justify-content: left;
    gap: 20px;
    padding: 20px;
}

.primary_btn {
    padding: 10px 20px;
    background: var(--theme-color);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background 0.3s, transform 0.3s;
    border: 2px solid transparent;
    cursor: pointer;
}

.primary_btn:hover {
    background: white;
    color: var(--theme-color);
    transform: translateY(-3px);
    transition: all 0.3s ease-in-out 0s;
}

.primary_btn.tr-bg {
    background: transparent;
    border: 2px solid var(--theme-color);
    color: var(--theme-color);
}

.primary_btn.tr-bg:hover {
    background: var(--theme-color);
    color: white;
}

.scene {
    position: fixed;
    z-index: 1;
    top: 30px;
    left: 30px;
    width: 70px;
    height: 70px;
}

.box {
    width: 50px;
    height: 50px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(30deg) rotateY(45deg);
    animation: rotate 10s infinite linear;
    transition: transform 0.5s;
}

.box.pause {
    animation-play-state: paused;
}

.box.reset {
    animation: reset 0.5s forwards;
}

.face {
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgba(var(--theme-color-rgb), 0.9);
    border: 2px solid black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.4);
    font-weight: bold;
}

.front {
    transform: rotateY(0deg) translateZ(25px);
}

.back {
    transform: rotateX(180deg) translateZ(25px);
}

.left {
    transform: rotateY(-90deg) translateZ(25px);
}

.right {
    transform: rotateY(90deg) translateZ(25px);
}

.top {
    transform: rotateX(90deg) translateZ(25px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(25px);
}

@keyframes rotate {
    from {
        transform: rotateX(0) rotateY(0);
    }

    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

@keyframes reset {
    from {
        transform: rotateX(0) rotateY(0);
    }

    to {
        transform: rotateX(0) rotateY(0);
    }
}