.horizontal-navbar {
    padding: 0;
    margin-top: 35px;
}

.horizontal-navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.horizontal-navbar li {
    position: relative;
}

.horizontal-navbar li+li {
    margin-left: 5px;
}

.horizontal-navbar a,
.horizontal-navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
    background: rgba(255, 255, 255, 0.1);
}

.horizontal-navbar a i,
.horizontal-navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.horizontal-navbar a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background: var(--theme-color);;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.horizontal-navbar a:hover {
    background: rgba(255, 255, 255, 0.2);
}

.horizontal-navbar a.active {
    transform: translateY(-5px);
    background: var(--theme-color);
}

.horizontal-navbar a:hover:before,
.horizontal-navbar li:hover>a:before,
.horizontal-navbar .active:before {
    visibility: visible;
    width: 100%;
}

.horizontal-navbar a:hover,
.horizontal-navbar .active,
.horizontal-navbar .active:focus,
.horizontal-navbar li:hover>a {
    color: white;
}

.mobile-nav-toggle {
    color: white;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 15px;
    top: 15px;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .horizontal-navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    z-index: 999;
    margin-top: 0;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 45px;
    left: 15px;
    padding: 10px 0;
    overflow-y: auto;
    transition: 0.3s;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.navbar-mobile li {
    padding: 12px 20px;
}

.navbar-mobile li+li {
    margin: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    font-size: 16px;
    position: relative;
}
