/*--------------------------------------------------------------
# 3. Skills Section
--------------------------------------------------------------*/

.skills .progress {
  height: 60px;
  display: block;
  background: transparent;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  color: white;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: rgba(255, 255, 255, 0.2);
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background: var(--theme-color);
  transition: width 0.9s ease-in-out;
}

.skills-group {
  background: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.skills-group .subheading {
  font-size: 14px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);;
}

.skills .list-icons {
  display: flex;
  flex-wrap: wrap;
}

.skills .list-icons li {
  text-align: center;
}

.skills .list-icons svg {
  width: 60px;
  height: 60px;
  transition: transform 0.3s, fill 0.3s;
}

.skills .list-icons svg:hover {
  transform: scale(1.1);
  fill: var(--theme-color);
}

.skills .list-icons h6 {
  margin-top: 10px;
  font-size: 10px;
}

.skills .list-icons .list-inline-item svg {
  transition: color 0.3s;
}

.skills .list-icons .list-inline-item svg:hover {
  color: var(--theme-color);
}