/*--------------------------------------------------------------
# 6. Testimonials Section
--------------------------------------------------------------*/

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: -55px 0 0 40px;
  position: relative;
  z-index: 2;
  border: 6px solid rgba(255, 255, 255, 0.12);
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 45px;
  color: white;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 0 45px;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: rgba(216, 59, 95, 0.8);
  font-size: 18px;
  display: inline-block;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-left {
  left: -5px;
}

.testimonials .testimonial-item .quote-icon-right {
  right: -5px;
  top: 10px;
  transform: scaleX(-1);
}

.testimonials .testimonial-item p {
  font-size: 14px;
  margin: 0 10px 0 10px;
  padding: 20px 20px 60px 20px;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  border-radius: 6px;
  z-index: 1;
  text-align: justify;
  text-justify: inter-word;
  border: 6px solid rgba(255, 255, 255, 0.12);
}

.testimonials .swiper-pagination {
  margin-top: 10px;
  bottom: -6px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.9);
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background: #D83B5F;
}