:root {
    --background-light-rgb: 255, 255, 255;
    --background-light: #ffffff;
    --background-dark-rgb: 0, 0, 0;
    --background-dark: #000000;
    --background-blue-rgb: 0, 123, 255;
    --background-blue: #007bff;
    --background-green-rgb: 40, 167, 69;
    --background-green: #28a745;
    --background-purple-rgb: 111, 66, 193;
    --background-purple: #6f42c1;
    --background-red-rgb: 220, 53, 69;
    --background-red: #dc3545;

    --background-light-white: #E5E5E5;
    --background-light-white-rgb: 229, 229, 229;
    --background-dark-black: #191919;
    --background-dark-black-rgb: 25, 25, 25;
    --background-light-blue: #E5F1FF;
    --background-light-blue-rgb: 229, 241, 255;
    --background-light-green: #E9F6EC;
    --background-light-green-rgb: 233, 246, 236;
    --background-light-purple: #F0ECF8;
    --background-light-purple-rgb: 240, 236, 248;
    --background-light-red: #FBEAEC;
    --background-light-red-rgb: 251, 234, 236;

    --color-default-white: #ffffff;
    --color-default-white-rgb: 255, 255, 255;
    --color-default-black: #000000;
    --color-default-black-rgb: 0, 0, 0;

    /* --background-dark-rgb: 0, 0, 0;
    
    --background-light-rgb: 255, 255, 255;
   

    --secondary-color-rgb: 216, 59, 95;
    --secondary-color: #D83B5F;
    --tertiary-color: #919191;
    --tertiary-color-rgb: 145, 145, 145; */

    /* --border-blue: #90caf9;
    --border-green: #a5d6a7;
    --border-purple: #ce93d8;

    --primary-color-blue: #2196f3;
    --primary-color-green: #4caf50;
    --primary-color-purple: #9c27b0;
    --primary-color-red: #d32f2f;

    --primary-text-blue: #212529;
    --primary-text-green: #212529;
    --primary-text-purple: #212529;

    --secondary-text-blue: #6c757d;
    --secondary-text-dark: #ced4da;
    --secondary-text-green: #6c757d;
    --secondary-text-light: #6c757d;
    --secondary-text-purple: #6c757d;

    --tertiary-text-blue: #adb5bd;
    --tertiary-text-dark: #adb5bd;
    --tertiary-text-green: #adb5bd;
    --tertiary-text-light: #adb5bd;
    --tertiary-text-purple: #adb5bd;  */

}

[data-theme="light"] {
    --background-color: var(--background-light-white);
    --background-color-rgb: var(--background-light-white-rgb);

    --secondary-color: var(--background-light);
    --secondary-color-rgb: var(--background-light-rgb);

    --default-white-color: var(--color-default-white);
    --default-white-color-rgb: var(--color-default-white-rgb);

    --default-black-color: var(--color-default-black);
    --default-black-color-rgb: var(--color-default-black-rgb);

    /*    

    --default-primary: var(--default-black);
    --default-primary-rgb: var(----default-black-rgb);

    --default-secondary: var(--secondary-color);
    --default-secondary-rgb: var(--secondary-color-rgb);

    --default-tcolor: var(--tertiary-color);
    --default-tcolor-rgb: var(--tertiary-color-rgb); */

    /* 

    /* --background-rcolor: var(--background-dark);
    --background-rcolor-rgb: var(--background-dark-rgb); */

    /* --background-scolor: var(--background-secondary-light);
    --background-scolor-rgb: var(--background-secondary-light-rgb);

    --box-shadow-color: var(--box-shadow-dark);
    --box-shadow-color-rgb: var(--box-shadow-dark-rgb);

    --border-color: var(--border-light);
    --border-color-rgb: var(--border-light-rgb);

    --border-scolor: var(--border-secondary);
    --border-scolor-rgb: var(--border-secondary-rgb);

 */
}

[data-theme="dark"] {
    --background-color: var(--background-dark-black);
    --background-color-rgb: var(--background-dark-black-rgb);

    --secondary-color: var(--background-dark);
    --secondary-color-rgb: var(--background-dark-rgb);

    --default-white-color: var(--color-default-white);
    --default-white-color-rgb: var(--color-default-white-rgb);

    --default-black-color: var(--color-default-black);
    --default-black-color-rgb: var(--color-default-black-rgb);

    /* 
    --default-pcolor: var(--default-white);
    --default-pcolor-rgb: var(----default-white-rgb);

    --default-scolor: var(--secondary-color);
    --default-scolor-rgb: var(--secondary-color-rgb);

    --default-tcolor: var(--tertiary-color);
    --default-tcolor-rgb: var(--tertiary-color-rgb); */

    /* 

    --background-rcolor: var(--background-light);
    --background-rcolor-rgb: var(--background-light-rgb);

    --background-scolor: var(--background-secondary-dark);
    --background-scolor-rgb: var(--background-secondary-dark-rgb);

    --box-shadow-color: var(--box-shadow-light);
    --box-shadow-color-rgb: var(--box-shadow-light-rgb);

    --border-color: var(--border-dark);
    --border-color-rgb: var(--border-dark-rgb);

    --border-scolor: var(--border-secondary);
    --border-scolor-rgb: var(--border-secondary-rgb);
 */
}

[data-theme="blue"] {
    --background-color: var(--background-light-blue);
    --background-color-rgb: var(--background-light-blue-rgb);

    --secondary-color: var(--background-blue);
    --secondary-color-rgb: var(--background-blue-rgb);

    --default-white-color: var(--color-default-white);
    --default-white-color-rgb: var(--color-default-white-rgb);

    --default-black-color: var(--color-default-black);
    --default-black-color-rgb: var(--color-default-black-rgb);

    /* 
    --primary-text-color: var(--primary-text-blue);
    --secondary-text-color: var(--secondary-text-blue);
    --tertiary-text-color: var(--tertiary-text-blue);
    --border-color: var(--border-blue);
    --box-shadow-color: var(--box-shadow-dark); */
}

[data-theme="green"] {
    --background-color: var(--background-light-green);
    --background-color-rgb: var(--background-light-green-rgb);

    --secondary-color: var(--background-green);
    --secondary-color-rgb: var(--background-green-rgb);

    --default-white-color: var(--color-default-white);
    --default-white-color-rgb: var(--color-default-white-rgb);

    --default-black-color: var(--color-default-black);
    --default-black-color-rgb: var(--color-default-black-rgb);

    /* 
    --primary-text-color: var(--primary-text-green);
    --secondary-text-color: var(--secondary-text-green);
    --tertiary-text-color: var(--tertiary-text-green);
    --border-color: var(--border-green);
    --box-shadow-color: var(--box-shadow-dark); */
}

[data-theme="red"] {
    --background-color: var(--background-light-red);
    --background-color-rgb: var(--background-light-red-rgb);

    --secondary-color: var(--background-red);
    --secondary-color-rgb: var(--background-red-rgb);

    --default-white-color: var(--color-default-white);
    --default-white-color-rgb: var(--color-default-white-rgb);

    --default-black-color: var(--color-default-black);
    --default-black-color-rgb: var(--color-default-black-rgb);

    /* 
    --primary-text-color: var(--primary-text-red);
    --secondary-text-color: var(--secondary-text-red);
    --tertiary-text-color: var(--tertiary-text-red);
    --border-color: var(--border-red);
    --box-shadow-color: var(--box-shadow-dark); */
}

[data-theme="purple"] {
    --background-color: var(--background-light-purple);
    --background-color-rgb: var(--background-light-purple-rgb);

    --secondary-color: var(--background-purple);
    --secondary-color-rgb: var(--background-purple-rgb);

    --default-white-color: var(--color-default-white);
    --default-white-color-rgb: var(--color-default-white-rgb);

    --default-black-color: var(--color-default-black);
    --default-black-color-rgb: var(--color-default-black-rgb);

    /* 
    --primary-text-color: var(--primary-text-purple);
    --secondary-text-color: var(--secondary-text-purple);
    --tertiary-text-color: var(--tertiary-text-purple);
    --border-color: var(--border-purple);
    --box-shadow-color: var(--box-shadow-dark); */
}