:root {
    --theme-blue-line: #006FE6;
    --theme-blue-rgb: 0, 123, 255;
    --theme-blue-shadow: #0062CC;
    --theme-blue: #007BFF;

    --theme-green-line: #4CEB95;
    --theme-green-rgb: 24, 210, 110;
    --theme-green-shadow: #35E888;
    --theme-green: #18D26E;

    --theme-pink-line: #D02950;
    --theme-pink-rgb: 216, 59, 95;
    --theme-pink-shadow: #BB2547;
    --theme-pink: #D83B5F;

    --theme-yellow-line: #FFAC07;
    --theme-yellow-rgb: 255, 193, 7;
    --theme-yellow-shadow: #EDB100;
    --theme-yellow: #FFBD39;

    --theme-purple-line: #E056FA;
    --theme-purple-rgb: 217, 44, 249;
    --theme-purple-shadow: #B636FF;
    --theme-purple: #D92CF9;

    --theme-brown-line: #BFA98A;
    --theme-brown-rgb: 184, 160, 126;
    --theme-brown-shadow: #A59071;
    --theme-brown: #B8A07E;

    --theme-red-line: #F04B39;
    --theme-red-rgb: 239, 55, 36;
    --theme-red-shadow: #D73120;
    --theme-red: #EF3724;

    --theme-cyan-line: #338CA8;
    --theme-cyan-rgb: 29, 128, 159;
    --theme-cyan-shadow: #1A738F;
    --theme-cyan: #1D809F;

    /* --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --dark: #343a40;

    color: #ffd200;
    color: #c48e0b;
    color: #e45447;
    color: #ffc000;
    color: #ec887f;
    color: #f8b600;
    color: #4cd3e3;
    color: #f09359;
    color: #eb6b55;
    color: #f44a40;
    color: #f4e700;
    color: #38a4ff;
    color: #f54940;
    color: #52c5fd;

    color: #6382e6;
    color: #e66686;
    color: #f09359;
    color: #73fbaf;
    color: #a367e7;
 */
    /* --theme-royalpurple-line: #BFA98A;
    --theme-royalpurple-rgb: linear-gradient(90deg, rgb(68, 88, 220) 0%, rgb(133, 79, 238) 100%);
    --theme-royalpurple-shadow: #A59071;
    --theme-royalpurple: linear-gradient(90deg, #4458dc 0%, #854fee 100%); */
}

[data-theme="blue"] {
    --theme-color-rgb: var(--theme-blue-rgb);
    --theme-color: var(--theme-blue);
    --theme-line-color: var(--theme-blue-line);
    --theme-shadow-color: var(--theme-blue-shadow);
}

[data-theme="green"] {
    --theme-color-rgb: var(--theme-green-rgb);
    --theme-color: var(--theme-green);
    --theme-line-color: var(--theme-green-line);
    --theme-shadow-color: var(--theme-green-shadow);
}

[data-theme="pink"] {
    --theme-color-rgb: var(--theme-pink-rgb);
    --theme-color: var(--theme-pink);
    --theme-line-color: var(--theme-pink-line);
    --theme-shadow-color: var(--theme-pink-shadow);
}

[data-theme="yellow"] {
    --theme-color-rgb: var(--theme-yellow-rgb);
    --theme-color: var(--theme-yellow);
    --theme-line-color: var(--theme-yellow-line);
    --theme-shadow-color: var(--theme-yellow-shadow);
}

[data-theme="purple"] {
    --theme-color-rgb: var(--theme-purple-rgb);
    --theme-color: var(--theme-purple);
    --theme-line-color: var(--theme-purple-line);
    --theme-shadow-color: var(--theme-purple-shadow);
}

[data-theme="brown"] {
    --theme-color-rgb: var(--theme-brown-rgb);
    --theme-color: var(--theme-brown);
    --theme-line-color: var(--theme-brown-line);
    --theme-shadow-color: var(--theme-brown-shadow);
}

[data-theme="red"] {
    --theme-color-rgb: var(--theme-red-rgb);
    --theme-color: var(--theme-red);
    --theme-line-color: var(--theme-red-line);
    --theme-shadow-color: var(--theme-red-shadow);
}

[data-theme="cyan"] {
    --theme-color-rgb: var(--theme-cyan-rgb);
    --theme-color: var(--theme-cyan);
    --theme-line-color: var(--theme-cyan-line);
    --theme-shadow-color: var(--theme-cyan-shadow);
}

/* [data-theme="royalpurple"] {
    --gradient-angle: 90deg;
    --gradient-color1: #4458dc;
    --gradient-color2: #854fee;
} */